<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Contact</title>
    <link rel="stylesheet" href="/stylesheets/contact.css" />
  </head>
  <body>
    <nav class="nav-ul">
      <img class="tarsilaLogo" src="/img/Amaral-logo.png" alt="Tarsila Logo" />
      <a href="/">HOME</a>
      <a href="/about">ABOUT</a>
      <a href="/work">ARTWORKS</a>
      <a href="/gallery">GALLERY</a>
    </nav>
    <section>
      <h1>CONTACT OUR TEAM</h1>
      <h2>tarsiladoamaral@gmail.com</h2>
      <h3>Leave your message</h3>
      <form>
        <label for="name">Name:</label><br />
        <input type="text" id="name" name="name" /><br />
        <label for="email">Email:</label><br />
        <input type="email" id="email" name="email" /><br /><br />
        <label for="message">Message:</label><br />
        <textarea id="message" name="message" rows="10" cols="30"></textarea
        ><br /><br />
        <input type="submit" value="Send" />
      </form>
    </section>
  </body>
</html>
