
    <section class="paintingPhotos">
            <h1>Paintings</h1>
            <div class="firstPaintings">
            <img class="abaporu" src="/img/amaral-do-tarsila-abaporu.jpg" alt="Abaporu" />
            <img class="boneca" src="/img/Aboneca1928.jpg" alt="A boneca" />
            <img class="madureira" src="/img/carnaval-em-madureira.jpg" alt="Madureira" /> 
            </div>
        </div>
        <div class="secPaintings">
            <img class="mona" src="/img/enelMoma.jpg" alt="Moma" /> 
            <img class="cuca" src="/img/Acuca1924.jpg" alt="A cuca" />
        </div>
        </section>
  