<!DOCTYPE html>
<html>
    <head> 
        <meta charset="utf-8" />
        <title>Home</title>
        <link rel="stylesheet" href="/stylesheets/styles.css" />    
    </head>
       <body>
        <nav class="nav-ul">
        <img class="tarsilaLogo" src="/img/Amaral-logo.png" alt="Tarsila Logo" />
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/work">ARTWORKS</a>
        <a href="/gallery">GALLERY</a>
        <a href="/contact">CONTACT</a>  
        </nav>
  
        <section>
            <h1>Tarsila do Amaral:Brazilian painter, 1886-1973 </h1>
            <h2>Biography & Paintings</h2>
            <img src="/img/Tarsila.A.jpg" alt="">
        </section>
    </body>
    </html>