<!DOCTYPE html>
<html>
    <head> 
        <meta charset="utf-8" />
        <title>Gallery Page</title>
        <link rel="stylesheet" href="/stylesheets/work.css" />    
    </head>
       <body>
         <nav class="nav-ul">
             <img class="tarsilaLogo" src="/img/Amaral-logo.png" alt="Tarsila Logo" />
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/gallery">GALLERY</a>
        <a href="/contact">CONTACT</a> 
         </nav>

       <section class="workContent">
        <h1>Modernist paintings by Tarsila do Amaral</h1>
        <P>Brazilian modernism was a period in which artists were very interested in bringing a renewal to the country's art.

            Inspired by the European avant-garde, they produced works that spoke to the national culture and broke the aesthetic standards in force until then.
            
            One of the great names of the period was Tarsila do Amaral, a decisive figure in the consolidation of this artistic trend in Brazil.
            
            Below, check out the ten important modernist works by Tarsila.</P>
        </section>
         <section2 class="paintingsExplanation"> 
            <h2>1. Carnaval em Madureira, 1923</h2>
            <img src="/img/carnaval-em-madureira.jpg"/>

            <p>In the work A Negra, Tarsila shows the figure of a woman with well-marked features, large hands and feet and a small head. In addition, the artist explores cubist elements in the background.

                In this work, we can see the representation of the black woman as a being who carries a heavy social burden, which can be seen by the melancholy gaze and the breast hanging down.
                
                The breast that hangs down from the body is a reference to the practice of wet nurses during the slavery period, in which the enslaved women breastfed and took care of the children of the white women of the elite.
                
                The painting is an oil on canvas made in 1923 - a year after the Week of Modern Art - and measures 100 x 80 cm. It belongs to the Collection of the Museum of Contemporary Art of the University of São Paulo, in São Paulo.</p>
                <h2>2. A Cuca, 1924</h2>
                <img src="/img/Acuca1924.jpg"/>
                <p>The painting "A Cuca" brings a figure present in Brazilian folklore and in the imagination of the population. According to legend, the cuca was a wicked witch with the body of an alligator who kidnapped disobedient children.

                    Painted in vibrant, tropical colours, the canvas harks back to childhood; it shows some animals and a living nature. It belongs to the Pau-Brasil modernist phase, which preceded the anthropophagic movement.
                    
                    This is a 1924 creation, measures 73 x 100 cm, was made using oil paint and is housed in the Grénoble Museum in France.</p>
                 <h2> Abaporu, 1928</h2> 
                 <img src="/img/amaral-do-tarsila-abaporu.jpg"/>  
                <p>One of Tarsila's best known works is, without doubt, Abaporu. The name is a combination of the Tupis words aba (man), pora (people) and ú (eat), meaning man who eats people, or anthropophagous.

                    It was conceived with Brazilian culture in mind and shows a person sitting in a reflective position. The figure presents great distortions and is inserted in a typically Brazilian landscape, more specifically in the Northeast. It intensely exposes the colours of the Brazilian flag.</p> 
           
           </section>
    </body>
    </html>